<!DOCTYPE html>
<html>
    <head>
        <title>
            Login Page
        </title>
        <link rel="stylesheet" href="../Static/css/style.css">
        </head>
    <body>
        <div class="form">
        <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: deeppink;">LOGIN FORM</h1><br>
        <form>
            <input type="text" Name="USERNAME" placeholder="username"><br><br>
            <input type="password"Name="Password" placeholder="password"><br><br><br>
            <a style="color:yellow" href="Dashboard.html">SUBMIT</a><br><br><br>
           <a style="color:deeppink;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"href="Register.html">REGISTER</a><br>
           
        </form> 
    </div>
    </body>
</html>