<!DOCTYPE html>
<html>
    <head>
        <title>
            register.html
        </title>
        <link rel="stylesheet" href="../Static/css/style2.css">
    </head>
    <body>
        <div class="form">
        <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: deeppink;">REGISTER FORM</h1><br>
        <form>
        <input type="text" Name="username" placeholder="Username"><br><br>
      
        <input type="email" Name="email" placeholder="Email"><br><br>
       
        <input type="password" Name="password" placeholder="password"><br><br>
       
        <input type="number" Name="Contact" placeholder="Contact"><br><br>
        <label style="font-size: large;color:deeppink;font-family:fantasy">Art</label>
        <select>
            <option>Painting</option>
            <option>sketching</option>
            <option>watercolour</option>
            <option>Traditional Art</option>
            <option>Sculptures</option>
            <option>Art Print</option>
            <option>Handicarft</option>
            <option>portrait</option><br>
        </select><br><br>
        <a href="login.html">SUBMIT</a>
        </form>
        </div>
    </body>
</html>